*{
	margin:0;
	padding: 0;
	
	
}
body{
	display: flex;
	justify-content: center;
        align-items: center;
         min-height: 100vh;
	background:  #000000;
}
.calculator{
	position: relative;
	display: grid;

}
.calculator .value{
	grid-column: span 4;
	height: 100px;
	text-align: right;
	border: 0.5px soild black;
	outline:none;
	padding:5px;
	font-size: 18px;
}
.calculator span{
	display: grid;
	width: 72px;
	height:60px;
	color: #fff;
	background: #0c2835;
	place-items: center;
	border: 4px soild rgba(0,0,0.1);
}
.calculator span:active{
	background: #74ff;
	color: #111;
}
.calculator span.clear{
	grid-column: span 2;
	width: 142px;
	border: 0.1px;
	background: #ff3077;
}
.calculator span.plus{
	grid-row:span 2;
	height:120px;
}
.calculator span.equal{
	grid-column: span 2;
	width: 144px;
	background:crimson;
}
