*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	color:white;
	
}
body{
	display: flex;
	justify-content:center;
	align-items: center;
	min-height: 90vh;
        background-color: #091921;
}
.calculator{
	position: relative;
	display: grid;
}
.calculator .value{
	grid-column: span 4;
	text-align: right;
	text-align: right;
	border: none;
	outline:none;
	min-height: 6vh;
}
.calculator span{
	background:#0c2835;
	margin-top: 10px;
	display: subgrid;
	width: 60px;
	height: 60px;
	color:#fff;
	place-items: center;
	text-align: center;
	border: 1px solid rgba(0,0,0,0.1);

      
}
.calculator span:active{
	background:tomato;
	color:#fff;
}
.calculator span.clear{
	grid-column: span 2;
	width:120px;
}
.calculator span.classplus{
	grid-row:span 2;
	height:130px;
}
.calculator span.equal{
	background: #03b1ff;
}
